In [1]:
# Add Data
data = ([(1580, "Barry", "FireFox", "Windows" ),
(5820, "Sam", "MS Edge", "Linux"),
(2340, "Harry", "Vivaldi", "Windows"),
(7860, "Albert", "Chrome", "Windows"),
(1123, "May", "Safari", "macOS")
])

In [2]:
import pyspark
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("Josh Jupyter Notebook").getOrCreate()

In [20]:

authors = spark.read.csv('./work/authors.csv', sep=',',
						inferSchema=True, header=True)

In [21]:

df = authors.toPandas()
df.head()

   AUTHOR_ID         AUTHOR_NAME
0          1           A. Kannan
1          2  Aaron M. Tenenbaum
2          3          Adam Smith
3          4         Adity Gupta
4          5        Alex lonescu

In [23]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [19]:
# Get the list of all files and directories
path = "./work"
dir_list = os.listdir(path)
print(dir_list)

['.ipynb_checkpoints', 'Try Me.ipynb', 'authors.csv', 'test.txt']